<h2>Edit profile</h2>

<form
  id="edit-profile-form"
  name="edit-profile-form"
  [formGroup]="editProfileForm"
  (submit)="updateUser()"
>
  <mat-form-field class="example-full-width">
    <input
      matInput
      type="text"
      class="login"
      name="newName"
      placeholder="New name"
      formControlName="name"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      type="text"
      class="login"
      name="newlogin"
      placeholder="New login"
      formControlName="login"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      class="password"
      name="password"
      placeholder="New password"
      [type]="passwordVisible ? 'text' : 'password'"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="passwordVisible = !passwordVisible"
      aria-label="'Hide password'"
      aria-pressed="!passwordVisible"
    >
      <mat-icon>{{
        passwordVisible ? "visibility" : "visibility_off"
      }}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-flat-button color="accent" type="submit" class="submit-button">
    Update
  </button>
</form>

<button
mat-mini-fab
color="warn"
aria-label="Button with trash bin icon"
type="button"
(click)="openDialog()"
>
<mat-icon>delete</mat-icon>
</button>
<p>Delete your acount</p>

