<div class="lists-wrapper">
    <div class="completed-tasks-list" *ngIf="accomplishedTasks.length > 0">
      <h3>Completed tasks</h3>
      <app-task
        *ngFor="let task of accomplishedTasks"
        (toggleCompleteTask)="onToggleComplete(task)"
        [taskItem]="task"
      ></app-task>
    </div>
    <div class="uncompleted-tasks-list" *ngIf="toBeCompletedTasks.length > 0">
      <h3>Tasks to do</h3>
      <app-task
        *ngFor="let task of toBeCompletedTasks"
        (toggleCompleteTask)="onToggleComplete(task)"
        [taskItem]="task"
      ></app-task>
    </div>
  </div>
  
