<p>user-login works</p>

<h2>Log in</h2>
<form
  id="login-form"
  name="login-form"
  [formGroup]="loginForm"
  (submit)="onLogIn()"
>
  <mat-form-field class="example-full-width">
    <mat-label>Login</mat-label>
    <input
      matInput
      type="text"
      class="login"
      name="login"
      placeholder="Your login"
      formControlName="login"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      class="password"
      name="password"
      placeholder="Your password"
      [type]="passwordVisible ? 'text' : 'password'"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="passwordVisible = !passwordVisible"
      aria-label="'Hide password'"
      aria-pressed="!passwordVisible"
    >
      <mat-icon>{{
        passwordVisible ? "visibility" : "visibility_off"
      }}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" class="submit-button">
    Log in
  </button>
</form>

<p *ngIf="error">The login or password you entered is not correct. Try again.</p>
<p>Do not have an account? <a routerLink="/signup-form" routerLinkActive="active">Register here.</a></p>

<button mat-stroked-button color="accent" type="button" (click)="getUserId()">
  Get logged user
</button>
<button mat-flat-button color="warn" type="button" (click)="getAllUsers()">
  Get users
</button>

