<div *ngIf="isLoading$ | async" class="spinner"><mat-spinner></mat-spinner></div>
<div *ngIf="isError$ | async as error">{{ error }}</div>

<mat-grid-list cols="2" rowHeight="2:1">
  <!-- <app-board-page *ngFor="let item of allBoards$ | async" key="item._id" [boardItem]="item"></app-board-page> -->
  <mat-grid-tile
    >
    <mat-card *ngFor="let item of allBoards$ | async">
      <a
        [routerLink]="['/boards', item._id, 'columns']"
        routerLinkActive="active"
      >
    

        <mat-card-header>{{ item.title }}</mat-card-header>
      </a>
      <mat-card-footer>
        <button
          mat-mini-fab
          color="primary"
          aria-label="Button with trash bin icon"
          type="button"
          (click)="openDialog({ boardId: item._id! })"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


