<!-- <form id="new-task" name="new-task" (submit)="addNewTask()">
  <input
    type="text"
    name="task-name"
    placeholder="Task name"
    [(ngModel)]="taskName"/>
  <input
    type="text"
    name="task-description"
    placeholder="Task description"
    [(ngModel)]="taskDescription"
  />
  <button type="submit">Add new task</button>
</form> -->

<form name="create-task-form" (submit)="addNewTask()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      name="task-title"
      placeholder="Title"
      formControlName="title"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      name="task-description"
      placeholder="Task description"
      formControlName="description"
    />
  </mat-form-field>
</form>